{% extends 'base.html' %} 


{% block title %}
<title>About Page</title>
{% endblock %} 


{% block content %}

<div class="container">
    <div class="row m-5 border rounded shadow p-4">
        <div class="col-6">
            <img class="w-75" src="https://www.wilsoncenter.org/sites/default/files/media/images/person/james-person-1.jpg" alt="">
        </div>
        <div class="col-6">
            <h3>Men xaqimda</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem inventore accusamus eaque eius harum, vero temporibus et corrupti fugiat odio in commodi maiores voluptates tempore hic sunt excepturi recusandae. Distinctio. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas hic cum corrupti! Veritatis veniam placeat, ullam necessitatibus rerum, dolore suscipit in architecto aliquid provident quo mollitia nulla amet cum quod repudiandae iste at sapiente officiis iure illum nostrum temporibus odio dolor! Nesciunt est harum provident, mollitia impedit similique unde temporibus.</p>
        </div>
    </div>
</div>

{% endblock %}