{% extends 'base.html' %}


{% block title %}
<title>Contact Page</title>
{% endblock %}


{% block content %}

<center>
    <h3 class="mt-5">Contact Form</h3>
</center>
<form class="w-50 border p-3 m-auto mt-5">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Lastname</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Phone number</label>
        <input type="tel" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input type="email" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}