{% extends 'base.html' %} 


{% block title %}
<title>Home Page</title>
{% endblock %} 


{% block content %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto">
	<main class="px-3">
		<h1>Men Polonchi Pistonchi</h1>
		<p class="lead">
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut saepe architecto molestias labore eligendi fuga optio esse repudiandae facere commodi consequatur reiciendis quos laudantium, sed neque omnis eaque quod unde quasi. Natus eligendi, deserunt aperiam non voluptates pariatur voluptatem explicabo repudiandae quo nisi voluptas dolor odio sed fugit, nulla numquam.
		</p>
		<p class="lead">
			<a href="#" class="btn btn-lg btn-primary fw-bold border-white"
				>Learn more</a
			>
		</p>
	</main>
</div>

{% endblock %}



