{% extends 'base.html' %} 


{% block title %}
<title>Registration Page</title>
{% endblock %} 


{% block content %}

<center>
    <h3 class="mt-5">Registration</h3>
</center>

<form class="w-50 border p-3 m-auto mt-5" action="/registration" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password1" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password (again)</label>
        <input type="password" class="form-control" name="password2" required>
    </div>

    {% for cat, msg in get_flashed_messages(True) %}
        <div class="text-white bg-{{ cat }} w-50 m-2 p-2">{{ msg }}</div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Registration</button>
</form>

{% endblock %} 